:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --text-color: #757575;
  --background-color: #2f303a;
  --main-font: 14px;
}
body {
  font-family: "roboto", sans-serif;
}
.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
}

/*----------BOXES----------*/

.section {
  padding: 94px 0;
  margin: 0 0;
}
.container {
  width: 1200px;
  margin: auto;
}

/*----------HEADER----------*/

.header {
  background-color: var(--white-color);
  border-bottom: solid 1px #ececec;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.navigation {
  display: flex;
  align-items: inherit;
  padding: 24px 0;
}
.logo {
  font-family: "raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}
.main-logo span {
  color: var(--main-color);
}
.pages {
  display: flex;
  margin: 0;
  padding: 0;
}
.pages li {
  margin-right: 50px;
}
.pages li:last-child {
  margin: 0;
}
.pages a {
  font-weight: 500;
  font-size: var(--main-font);
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.pages a:hover,
.pages a:focus {
  color: var(--accent-color);
}
.header-contacts {
  display: inline-flex;
  margin: 0;
  padding: 0;
}
.header-contacts a {
  font-style: normal;
  font-size: var(--main-font);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-contacts li:first-child {
  margin-right: 50px;
}
.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-color);
}

/*----------FOOTER----------*/

.footer {
  /*цвет сделал, чтоб видеть шрифт элемента*/
  background-color: var(--background-color);
  padding: 60px 0;
}
.footer ul {
  margin: 0 0;
  padding: 0 0;
}
.down-logo {
  display: block;
  margin-bottom: 20px;
}
.down-logo span {
  color: var(--white-color);
}
.footer-contact {
  font-style: normal;
  font-size: var(--main-font);
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 231px;
  display: block;
}

.footer-contact span {
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-font);
  line-height: calc(24 / 14);
  color: var(--white-color);
  display: block;
}

.footer-contact:hover,
.footer-contact:focus,
.footer-contact span:hover,
.footer-contact span:focus {
  color: var(--accent-color);
}
.footer-contacts li {
  margin-bottom: 9px;
}
.footer-contacts li:last-child {
  margin-bottom: 0;
}

/*----------HERO----------*/

.hero {
  /*цвет сделал, чтоб видеть шрифт элемента*/
  background-color: var(--background-color);
  margin: 0 0;
  text-align: center;
  padding: 200px 0;
}
.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
  width: 696px;
  margin: 0 auto 30px;
  padding: 0;
}
.hero button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
}
.hero button:hover,
.hero button:focus {
  background-color: #188ce8;
}

/*----------BENEFITS----------*/

.benefits {
  background-color: var(--white-color);
}
.benefits-list {
  margin: 0 0;
  padding: 0 0;
  display: flex;
  justify-content: space-between;
}
.item {
  width: 270px;
}
.item h3 {
  font-size: var(--main-font);
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 0 0 10px;
  padding: 0;
}
.item p {
  font-size: var(--main-font);
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/*----------SKILLS----------*/

.skills {
  padding-top: 0;
  background-color: var(--white-color);
}
.skills h2 {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin: 0 0 50px;
  padding: 0 0;
}
.skills ul {
  margin: 0 0;
  padding: 0 0;
  display: flex;
  justify-content: space-between;
}
.skills img {
  display: block;
}

/*----------TEAM----------*/

.team {
  background-color: var(--white-color);
}
.team h2 {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin: 0 0 50px;
  padding: 0 0;
}
.team ul {
  margin: 0 0;
  padding: 0 0;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 270px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card img {
  display: block;
  margin-bottom: 30px;
}
.card h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin: 0 0 10px;
  padding: 0 0;
}
.card p {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0 0;
  padding: 0 0 30px;
}

/*--------------------PORTFOLIO-PAGE--------------------*/

/*----------BUTTONS-----------*/

.portfolio ul {
  margin: 0 0;
  padding: 0 0;
}
.buttons {
  margin: 0 0;
  padding: 0 0;
  display: flex;
  justify-content: center;
}
.buttons li {
  margin-right: 8px;
}
.buttons li:last-child {
  margin-right: 0;
}

.buttons button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  margin-bottom: 50px;
}
.buttons button:hover,
.buttons button:focus {
  background: var(--accent-color);
  color: var(--white-color);
}

/*----------WORKS----------*/

.works {
  margin: 0 0;
  padding: 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0;
}
.work {
  background-color: var(--white-color);
  border: 1px solid #eeeeee;
}
.works li {
  display: block;
  margin-bottom: 30px;
}
.works li:nth-last-child(-n + 3) {
  margin: 0 0;
}

.works img {
  display: block;
  margin-bottom: 20px;
}
.works h3 {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin: 0 24px 4px;
  padding: 0 0;
}
.works p {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0 24px 20px;
}
